.society-wrapper {
  padding: 8px;
  border: 1px solid rgba(#F08700, 1);
  border-radius: 8px;
  background: rgba(#F08700, .05);
}
.credit-wrapper {
  padding: 8px;
  border: 1px solid rgba(#A63446, 1);
  border-radius: 8px;
  background: rgba(#A63446, .05);
}

