<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-1 border-light-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hausplaner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="/">Berateransicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/presentation" routerLinkActive="/presentation">Präsentationsansicht</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="toolbar-container d-flex justify-content-between my-3">
    <button class="btn btn-primary" (click)="saveData()">Eingaben übernehmen</button>
    <button class="btn btn-danger" (click)="resetData()">Eingaben zurücksetzen</button>
  </div>
  <form id="calculation-container mb-3">

    <div class="row">
      <div class="col-8">
        <div class="d-flex align-items-center mb-3">
          <div class="col-8">
            <div class="input-group input-group-lg">
              <span class="input-group-text" id="cost-group">Kosten</span>
              <input type="number" class="form-control" aria-label="cost" aria-describedby="cost-group" [(ngModel)]="data.cost" name="cost">
            </div>
          </div>
          <div class="col-4 ps-3">
            {{ data.cost | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-4">
        <h5>Bausparer</h5>
        <div class="d-flex flex-wrap align-items-center mb-2 society-wrapper">
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Eigenkapital</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaver.cash" type="number" name="buildingSocietySaverCash">
            </div>
          </div>
          <div class="col-12 mb-2">
            {{ data.buildingSocietySaver.cash | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Darlehenssumme</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaver.sum" type="number" name="buildingSocietySaverSum">
            </div>
          </div>
          <div class="col-12 mb-2">
            {{ data.buildingSocietySaver.sum | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Zinssatz</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaver.interest" type="number" name="buildingSocietySaverInterest">
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">monatliche Rate</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaver.monthlyRate" type="number" name="buildingSocietySaverMonthlyRate">
            </div>
          </div>
        </div>
      </div>


      <div class="col-4">
        <h5>Bausparer (überbrückt)</h5>
        <div class="d-flex flex-wrap align-items-center mb-2 society-wrapper">
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Eigenkapital</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaverBridged.cash" type="number" name="buildingSocietySaverBridgedCash">
            </div>
          </div>
          <div class="col-12 mb-2">
            {{ data.buildingSocietySaverBridged.cash | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Darlehenssumme</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaverBridged.sum" type="number" name="buildingSocietySaverBridgedSum">
            </div>
          </div>
          <div class="col-12 mb-2">
            {{ data.buildingSocietySaverBridged.sum | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Zinssatz</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaverBridged.interest" type="number" name="buildingSocietySaverBridgedInterest">
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">monatliche Rate</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaverBridged.monthlyRate" type="number" name="buildingSocietySaverBridgedMonthlyRate">
            </div>
          </div>
          <div class="col-12 mt-4"><h6>Überbrückungsdarlehen</h6></div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Darlehenssumme</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaverBridged.bridgeSum" type="number" name="buildingSocietySaverBridgedBridgeSum">
            </div>
          </div>
          <div class="col-12 mb-2">
            {{ data.buildingSocietySaverBridged.bridgeSum | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Zinssatz</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaverBridged.bridgeInterest" type="number" name="buildingSocietySaverBridgedBridgeInterest">
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Laufzeit</span>
              <input class="form-control" [(ngModel)]="data.buildingSocietySaverBridged.bridgeRunTime" type="number" name="buildingSocietySaverBridgedRunTime">
            </div>
          </div>
        </div>
      </div>


      <div class="col-4">
        <h5>Annuitätendarlehen</h5>
        <div class="d-flex flex-wrap align-items-center mb-1 credit-wrapper">
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Eigenkapital</span>
              <input class="form-control" [(ngModel)]="data.credit.cash" type="number" name="creditCash">
            </div>
          </div>
          <div class="col-12 mb-2">
            {{ data.credit.cash | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Darlehenssumme</span>
              <input class="form-control" [(ngModel)]="data.credit.sum" type="number" name="creditSum">
            </div>
          </div>
          <div class="col-12 mb-2">
            {{ data.credit.sum | currency:'EUR':'€':'1.2-2':'de-DE' }}
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Zinssatz</span>
              <input class="form-control" [(ngModel)]="data.credit.interest" type="number" name="creditInterest">
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="input-group">
              <span class="input-group-text">Tilgungssatz</span>
              <input class="form-control" [(ngModel)]="data.credit.acquittance" type="number" name="creditAcquittance">
            </div>
          </div>
        </div>
      </div>

    </div>
      </form>
</div>
