/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'WW', 'Arial', sans-serif;
}


th {
  font-family: 'WW-Bold', 'Arial', sans-serif;
  font-weight: bold;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'WW-Bold', 'Arial', sans-serif;
  font-weight: bold;
}

